/*clearfix*/
.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;overflow:hidden;}
.clearfix {zoom:1;} /* IE < 8 */
h2, p{ margin: 0;padding: 0;}
.small{font-size: 12px;}

body{
	font-family: 'microsoft yahei';
	font-size: 12px;
}
.hui-calendar{
	position: relative;
}
.hui-calendar .hui-toolbar{
    text-align: center;
    padding: 10px 0;
    min-height: 51px;
}
.hui-calendar .hui-view-container{
	position: relative;
	width: 100%;
}
.hui-calendar th{
	height: 25px;
	font-weight: 300;
	border-bottom: 1px solid #EAEAEA;
	background: #F5F7F9;
}
.hui-calendar td{
	border-left: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	text-align: center;
	-webkit-user-select: none;
	color: #fff;
}
.hui-calendar table{
	width: 100%;
	  border-spacing: 0;
        border-right: 1px solid #EAEAEA;
}
.hui-calendar .hui-time-range{
	font-size: 14px;
	font-weight: 300;
	display: inline-block;
	line-height: 31px;
}
.hui-time-grid td.selected{
	background: #E6F9F0;
	cursor: pointer !important;
	color: #00b57f;
}
.hui-time-grid td.leaved{
	background: #f60;
}
.hui-time-grid td.disabled{
	background: #ffe6cc;
	cursor: default;
	color: #ea6300;
}
.hui-calendar .hui-widget-header{
	border: 1px solid #EAEAEA;
	overflow: hidden;
}
.hui-calendar .hui-time{
	  position: relative;
	  height: 22px;
	  cursor: pointer;
}
.hui-axis{
	width: 37px;
	  background: #F8F8F8;
	  text-align: right;
	  padding-right: 6px;
	    -webkit-user-select: none;
	    color: #fff;
	    font-size: 13px;
}
.oddTD .hui-axis{
	color: #7D8A96;
}
.hui-calendar  .hui-grid-con{
	height: 100%;
	width: 100%;
}
.hui-calendar .hui-day-header{
	position: relative;
	  padding: 11px 0;
  line-height: 18px;
	text-align: center;
	z-index: 2;
	position: relative;
	  color: #2C3E50;
}
.hui-calendar .hui-day-header .today {
    color: #f60;
}
.hui-calendar .oddTD td{
	border-bottom: 1px dotted #EAEAEA;
}

.hui-calendar .hui-event-container{
	  padding: 7px 10px 10px 10px;
  background: #FFF;
  margin-bottom: 3px;
  border-left: 4px solid #74CD55;
    color: #989898;
    position: relative;
}
.hui-calendar .hui-event-time{
	display: inline-block;
  color: #5FB740;
  font-size: 16px;
  border-radius: 2px;
    margin-bottom: 7px;
}
.hui-calendar .hui-event-gray{
	border-left: 4px solid #cacaca;
}
.hui-calendar .hui-event-red{
	border-left: 4px solid #FF992B;
}
.hui-calendar .hui-event-gray .hui-event-time{
	color: #999;
}
.hui-calendar .hui-prev-btn{
    margin-right: 10px;
      display: inline-block;
  /*border: 1px solid #E0E0E0;*/
  border-radius: 30px;
  width: 30px;
  text-indent: 2px;
  vertical-align: middle;
  padding: 6px 0;
}
.hui-calendar .hui-next-btn{
    display: inline-block;
  /*border: 1px solid #E0E0E0;*/
  border-radius: 30px;
  margin-left: 10px;
  width: 30px;
  text-indent: 2px;
  vertical-align: middle;
  padding: 6px 0;
}
.hui-calendar .icon-prev{
	    display: inline-block;
  width: 13px;
  height: 18px;
  vertical-align: middle;
  background: url(http://res.c.hjfile.cn/app/images/home_v4/home_v4.png?v=2015427) -477px -133px no-repeat;
}
.hui-calendar .icon-next{
	 display: inline-block;
	  width: 13px;
	  height: 18px;
	  vertical-align: middle;
	  background: url(http://res.c.hjfile.cn/app/images/home_v4/home_v4.png?v=2015427) -495px -133px no-repeat;
}
.hui-calendar .hui-event-title{
	height: 32px;
	overflow: hidden;
	  word-break: break-word;
  	line-height: 16px;
}
.fc-popover-box{
    position: absolute;
    z-index: 9999;
    padding-left: 15px;
}
.fc-popover {
	box-shadow: 0 2px 6px rgba(0,0,0,.15);
	border-radius: 5px;
}

.fc-popover .fc-header { /* TODO: be more consistent with fc-head/fc-body */
	 padding: 10px 30px 10px 12px;
	 position: relative;
 font-size: 14px;}

.fc-popover .fc-header .fc-title {
	margin: 0 2px;
	display: inline-block;
	width: 245px;
	height: 16px;
	overflow: hidden;  text-overflow: ellipsis;  word-wrap: break-word;  white-space: nowrap;
}

.fc-popover .fc-close {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 38px;
	display: block;
	background: url(http://class.hujiang.com/app/images/home_v4/home_v4.png) -518px 10px no-repeat;
}
.ly-right .fc-close{
	right: 15px;
}

.fc-ltr .fc-popover .fc-header .fc-title,
.fc-rtl .fc-popove .fc-close {
	float: left;
}

.fc-rtl .fc-popover .fc-header .fc-title,
.fc-ltr .fc-popover .fc-close {
	float: right;
}

/* unthemed */

.fc-unthemed .fc-popover {
	border-width: 1px;
	border-style: solid;
}

.fc-unthemed .fc-popover .fc-close {
	font-size: .9em;
	margin-top: 2px;
}

/* jqui themed */

.fc-popover > .ui-widget-header + .ui-widget-content {
	border-top: 0; /* where they meet, let the header have the border */
}
.fc-popover-arrow{
	background: url('tips-arrow.png') no-repeat left center;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -12px;
	height: 21px;
	width: 19px;
	z-index: 2;
}
.ly-right.fc-popover-box{
	padding-right: 15px;
	padding-left: 0;
}
.ly-right .fc-popover-arrow{
	right: 0;
	left: auto;
	background-position: -15px 0;
}.fc-unthemed .fc-popover {
	border-color: #eaeaea;
}

.fc-unthemed .fc-popover {
	background-color: #fff;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header {
	background: #f8f8f8;
}

.fc-unthemed .fc-popover .fc-close {
	color: #666;
}
.fc-event-container{
	min-height: 100px;
	padding: 5px 15px;
	font-size: 14px;
}
.fc-event-container p{
	margin: 10px 0;
}
.icon-share{
	  display: block;
	  position: absolute;
	  top: 7px;
	  right: 6px;
	  width: 16px;
	  height: 16px;
	  background: url(/classadmin/images/share.png) no-repeat;
}
.fc-event-container .tools{
	float: right;
	margin-bottom: 10px;
}
.classDetail .orderNum{
	float: right;
	color: #5FB740;
}
.classDetail .classList{
	border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}
.classDetail .teacherList{
	max-height: 200px;
	overflow-y: auto;
	border: 1px solid #ECECEC;
	padding: 0 5px;
	margin: 5px 0;
}
.classDetail a{
	color: #5FB740;
	text-decoration: none;
}
.classDetail .teacherList label{
	display: block;
	  margin: 10px 0;
	  padding-left: 25px;
  position: relative;
}
.classDetail .teacherList input{
	  position: absolute;
  left: 0;
  top: 9px;
}
.classDetail a:hover{
	color: #f60;
}
.classDetail .teacher-class{
	font-size: 12px;
	color: #999;
}
.hui-scroll{
	width: 14px;
}
.hui-view-body{
	height: 400px;
	overflow: auto;
}
.calendarDesc .icon-gray-dot,.calendarDesc .icon-green-dot,.calendarDesc .icon-white-dot{
      position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 11px;
  height: 11px;
  background: #F4F5F6;
  vertical-align: -2px;
  border: 1px solid #F4F5F6;
  margin: 0 5px 0 10px;
}
.calendarDesc .icon-green-dot{
    background: #e6f9f0;
    border: 1px solid #e6f9f0;
}
.calendarDesc .icon-white-dot{
    border: 1px solid #E6E8E9;
    background: #fff;
}
.calendarDesc .icon-gray-dot{
    border: 1px solid #ffe6cc;
    background: #ffe6cc;
}
.calendarDesc{
      position: absolute;
  top: 18px;
  right: 0;
}
.btnLeave{
	  border: 1px solid #02BF87;
  border-radius: 24px;
  height: 32px;
  width: 110px;
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 31px;
  color: #02BF87;
  text-decoration: none;
  margin-top: 17px;
}
.btnLeave:visited,.btnLeave:hover{
	background: #02BF87;
	color: #fff;
    text-decoration: none;
}
.hide {
    display: none;
}

.textcenter {
    text-align: center;
}

.btnOk {
    border: 1px solid #02BF87;
    border-radius: 24px;
    height: 32px;
    width: 110px;
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 31px;
    color: #02BF87;
    text-decoration: none;
    margin-top: 17px;
}

    .btnOk:hover {
        background: #02BF87;
        color: #fff;
    }

    .approved {
        background: #D4F9D4;
        color: #0EBB88;
         padding: 3px 10px 3px 10px;
         border-radius: 10px;
    }
    .rejected {
        background:  #F5CEBF;
        color: #EC5B25;
        padding: 3px 10px 3px 10px;
        border-radius: 10px;
    }
    .tobeApproved{
        background: lightgray;
        color: gray;
        padding: 3px 10px 3px 10px;
        border-radius: 10px;
    }